<h1>Nesten ferdig!</h1>
<div class="container-fluid" style="padding-left: 0px !important;">
	<div class="col-10">
		{% if success is defined %}
			{% for s in success %}
				<div class="alert alert-success">
					{{ s }}
				</div>
			{% endfor %}
		{% endif %}
		{% if errors is defined %}
			{% for error in errors %}
				<div class="alert alert-error">
					{{ error }}
				</div>
			{% endfor %}
		{% endif %} 
		<p class="lead">
			Vi trenger kun litt mer informasjon for å gjøre saken din så bra som mulig.
		</p>
		<form action="" method="POST">
			<input type="hidden" name="fields" value="{{ missingContributors ? 'bidragsytere' : '' }} {{ missingPostType ? 'postType' }} {{ missingThumbnail ? 'forsidebilde' : '' }}">
			{% if missingContributors %}
				<h3>Bidragsytere</h3>
				<p>Vi ser at du ikke har valgt noen bidragsytere til saken din. Dette går helt fint dersom saken ikke er laget av deltakerne dine.</p>
				<p>Dersom en deltaker har tatt bilder, skrevet saken eller på annen måte bidratt, er det fint om du velger de her. Da vil nettsiden presentere disse på en fin måte i artikkelen.</p>

				
				<h4>Legg til ny bidragsyter</h4>
				<div class="" id="bidragsyterListe"></div>
				<div class="form-inline">
					<input type="text" id="nyRolle" placeholder="Rolle, f.eks fotograf, journalist">
					<select id="nyPerson" class="form-control">
						<option disabled selected value="">Velg bidragsyter</option>
						{% for bidragsyter in contributorList %}
							<option value="{{ bidragsyter.data.user_login }}">{{ bidragsyter.data.user_nicename }}</option>
						{% endfor %}
					</select>
					<button type="button" id="leggtilbidragsyter" class="btn btn-success">Legg til</button>
				</div>
			{% endif %}

			{% if missingPostType %}
				<h3>Hvilken type sak har du skrevet?</h3>
				<div id="postTypeValg" class="radio form-group">
					<label><input type="radio" name="postType" class="form-control postTypeVelger" value="info" checked>Informasjon til deltakere, presse eller publikum</label>
					<label><input type="radio" name="postType" class="form-control postTypeVelger" value="news">Intervju med / Omtale av deltakere</label>
				</div>

				<div class="hidden" id="deltakerListe">
					<div class="well">
						<p class="lead">Velg hvilke deltakere som omtales i artikkelen:</p>
						<p><strong>Skriv navnet på deltakeren her for å søke i listen.</strong></p>
						<input type="text" name="filtrer" style="width:90%;" id="filterMentions" placeholder="Skriv navnet her for å filtrere listen...." class="form-control block" />
						<ul class="list-group list-unstyled" id="mentionsList">
							{% for innslag in deltakerliste %}
								<li filter="{{ innslag.navn }}" class="list-group-item mentionSok">
									<label><input type="checkbox" name="mentions[]" value="{{ innslag.id }}" />&nbsp;{{ innslag.navn }}</label></li>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			{% endif %}

			{% if missingThumbnail %}
				<h3>Forsidebilde</h3>
				<p>Det er ikke valgt noe forsidebilde til saken din. Dette er bildet som dukker opp på forsiden og i nyhetsarkivet, og også på toppen av artikkelen. Bildet bør være i relativt god kvalitet, ettersom det vises i både små og store versjoner.</p>
				<p><strong>Husk at også dersom du har valgt en video som topp-bilde bør du velge et bilde her - det vises på forsiden og i arkivet.</strong></p>
				<div class='image-preview-wrapper'>
					<img id='image-preview' src="{{ bildePreview }}" width="200">
				</div>
				<div class="form-inline">
					<input type="text" name="file_name" id="file_name" disabled/>
					<input id="lastOpp" type="button" class="btn btn-info" value="Velg bilde" />
				</div>
				<input type='hidden' name='upload_id' id='upload_id' value=''>
			{% endif %}

			<p>&nbsp;</p>
			<button type="submit" class="btn btn-success btn-large">Oppdater & Publiser</button>
		</form>
	</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery(".postTypeVelger").click(function(clicked) {
		// console.log(clicked.target.value);
		if(clicked.target.value == "news") {
			jQuery("#deltakerListe").slideDown();
		} else {
			jQuery("#deltakerListe").slideUp();
		}
	});
});

</script>
<script type="text/javascript">
// Legg til bidragsyter-script
jQuery("#leggtilbidragsyter").click(function(knapp) {
	var rolle = jQuery("#nyRolle").val();
	var person = jQuery("#nyPerson").val();
	var loginName = jQuery("#nyPerson option:selected").text();
	if( null == person || "" == rolle) {
		// TODO: Feilmelding
		return;
	}
	/*console.log(rolle);
	console.log(person);
	console.log(loginName);*/

	var display = jQuery('<div class="bidragsyter"><input type="text" name="rolle[]" value="'+rolle+'"/><div id="personPlaceholder"></div><input type="hidden" name="loginName[]" value="'+loginName+'"></div>');
	
	jQuery("#bidragsyterListe").append(display);
	var select = jQuery("#nyPerson").clone();
	select = select.attr('name', 'person[]');
	select = select.removeAttr('id');
	select.find('option[value="'+loginName+'"]').prop('selected', true);
	jQuery("#personPlaceholder").replaceWith(select);
	
	// Nullstill Legg til-bolken.
	jQuery("#nyRolle").val("");
	jQuery("#nyPerson").val("");
	jQuery("#nyPerson option:first").prop('selected', true);
});
</script>
<script>
var media_uploader = null;

jQuery("#lastOpp").click(function(knapp) {
	knapp.preventDefault();
	open_media_uploader();
});

function open_media_uploader()
{
    media_uploader = wp.media({
        frame:    "post", 
        state:    "insert", 
        multiple: false
    });

    media_uploader.on("insert", function(){
        var json = media_uploader.state().get("selection").first().toJSON();

        // console.log(json);
        jQuery("#image-preview").attr("src",json.url);
        jQuery("#upload_id").val(json.id);
        jQuery("#file_name").val(json.filename);
    });

    media_uploader.open();
}
</script>
<script>
jQuery(document).ready(function() {
	jQuery('#filterMentions').fastLiveFilter('#mentionsList', function(numShown){

	});
	jQuery('#filterMentions').change();
});
</script>